If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

https://projecteuler.net/problem=1

In [1]:
%%time

multiples_sum = 0
for i in range(3,1000):
    if i % 3==0:
        multiples_sum += i
    if i % 5==0:
        multiples_sum += i

CPU times: user 468 µs, sys: 153 µs, total: 621 µs
Wall time: 440 µs

In [2]:
multiples_sum

266333

In [3]:
%%time

sum([x for x in range(1000) if ((x % 5 == 0) or (x % 3 == 0))])

CPU times: user 135 µs, sys: 0 ns, total: 135 µs
Wall time: 140 µs

233168

The formula for the sum of a finite arithmetic sequence is 1/2 * n * (a_1 + a_n). where n is the number of terms being added, a_1 is the first element in the sequence, and a_n is the last element in the sequence.

In [4]:
def calc_arithmetic_seq_sum(n, a_1, a_n):
    return (1/2 * n * (a_1 + a_n))

In [5]:
3 * calc_arithmetic_seq_sum(n = 333, a_1=1, a_n=333)

166833.0

In [6]:
5 * calc_arithmetic_seq_sum(n = 200, a_1=1, a_n=200)

100500.0

In [7]:
calc_arithmetic_seq_sum(n = 5, a_1=11, a_n=15)

65.0

In [8]:
166833.0 + 100500.0

267333.0

In [9]:
5 * calc_arithmetic_seq_sum(n = 200, a_1=1, a_n=200)

100500.0

In [10]:
n=6
n*((n+1)/2)

21.0

In [11]:
import numpy as np

In [12]:
np.floor(1000/15)

66.0

In [13]:
15 * calc_arithmetic_seq_sum(n = np.floor(1000/15), a_1=1, a_n=np.floor(1000/15))

33165.0

In [14]:
15*66

990

In [15]:
calc_arithmetic_seq_sum(n = np.floor(1000/15), a_1=1, a_n=np.floor(1000/15))

2211.0

In [16]:
166833.0 + 100500.0 - 33165.0

234168.0